.jumbotron {
	background-color: white;
	color: white;
	margin-top: 40px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #E0E0E0;
	margin-bottom: 0px;
	margin-top: 15px;
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}