$white: #FFFFFF;
$yellow: #ebdc38;
$blue: #389aeb;
$red: #fa4e2f;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $blue;
	color: white;
	@include margenes(50px , 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $red;
	@include margenes(15px , 0px);
} 

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px , 0px);
	background-color: $yellow;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}